faiss-cpu==1.11.0
huggingface-hub==0.31.2
httpx==0.28.1
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.60
langchain-ollama==0.3.3
langchain-text-splitters==0.3.8
langgraph==0.4.8
langgraph-checkpoint==2.0.26
numpy==2.2.5
orjson==3.10.18
pydantic==2.11.4
PyMuPDF==1.25.5
sentence-transformers==4.1.0
torch==2.7.0
transformers==4.51.3
tqdm
beautifulsoup4
chardet
duckduckgo_search==8.0.2
gradio==5.49.1